﻿<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Settings</h4>
                    </div>
                    <div class="card-content">
                      !?!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
