﻿<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Customers</h4>
                    </div>
                    <div class="card-content">
                      <kendo-grid
                        [kendoGridBinding]="view"
                        [pageSize]="20"
                        [sortable]="true"
                        [pageable]="true"
                        [scrollable]="'none'"
                        [filterable]="true"
                        >
                        <kendo-grid-column field="id" title="ID" [width]="300"></kendo-grid-column>
                        <kendo-grid-column field="name" title="Customer Name"></kendo-grid-column>
                        <kendo-grid-command-column title="command" width="150">
                          <ng-template kendoGridCellTemplate let-dataItem>
                            <button [routerLink]="['/tenant', dataItem.id]"
                                    class="k-button k-default"
                                    style="float: left;margin-right: 10px">
                              Tenant
                            </button>
                            <button [routerLink]="['/customer', dataItem.id]"
                                    class="k-button k-primary"
                                    [hidden]="!dataItem.isEditable"
                                    style="float: left;margin-right: 10px">
                              Edit
                            </button>
                          </ng-template>
                        </kendo-grid-command-column>
                      </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
