﻿<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                      <h4 class="title">Customer<span *ngIf="customer != null && customer.name != undefined && customer.name != null">(<strong>{{customer.name}}</strong>)</span></h4>
                    </div>
                  <div class="card-content table-responsive"  *ngIf="customer != null && customer.knownazuretypes != undefined && customer.knownazuretypes != null">
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal" role="form">
                      <table class="table table-hover">
                        <thead class="text-warning">
                        <tr>
                          <td>CI type</td>
                          <td>CI stored in local CMDB</td>
                        </tr>
                        </thead>
                        <tr *ngFor="let type of customer.knownazuretypes">
                          <td class="extend">{{type}}</td>
                          <td>
                            <input type="checkbox" data-toggle="toggle" (change)="logCheckbox(type)"/>
                          </td>
                        </tr>
                      </table>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
