﻿<div class="wrapper">
  <div class="sidebar" data-color='red' data-image="">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <dashboard-cmp></dashboard-cmp>
  </div>
</div>
