﻿<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Tenants</h4>
          </div>
          <div class="card-content">
            <kendo-grid
              [kendoGridBinding]="view"
              [pageSize]="20"
              [sortable]="true"
              [pageable]="true"
              [scrollable]="'none'"
              [filterable]="true"
              (edit)="editHandler($event)" (remove)="removeHandler($event)"
            >
              <kendo-grid-column field="id" title="ID" [width]="300"></kendo-grid-column>
              <kendo-grid-column field="name" title="Name"></kendo-grid-column>
              <kendo-grid-column field="_type" title="Type"></kendo-grid-column>
              <kendo-grid-column field="_syncfresh" title="Sync to Freshservice"></kendo-grid-column>
              <kendo-grid-command-column title="command" width="150">
                <ng-template kendoGridCellTemplate>
                  <button kendoGridEditCommand class="k-primary">Edit</button>
                  <button kendoGridRemoveCommand>Delete</button>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<kendo-grid-edit-form [model]="editDataItem" [isNew]="isNew"
                      (save)="saveHandler($event)"
                      (cancel)="cancelHandler()">
</kendo-grid-edit-form>
