﻿<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">CI details<span *ngIf="ci != null && ci.name != undefined && ci.name != null">(<strong>{{ci.name}}</strong>)</span></h4>
          </div>
          <div class="card-content">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" role="form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label><strong>Details</strong></label>
                    <div class="form-group form-black label-floating" *ngIf="ci != null">
                      <label class="control-label"> Life cycle</label>
                      <kendo-combobox [data]="lifeCycles" [value]="ci['_lifecycle']">
                      </kendo-combobox>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating" *ngFor="let key of keys">
                    <label class="control-label">{{key}}</label>
                    <textarea class="form-control" rows="{{(ci[key] | json).length > 112 ? 5 : 1}}" disabled>{{ci[key] | json}}</textarea>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-default" (click)="back()">Back</button>
              <button type="submit" class="btn btn-danger" (click)="declineCI()">Decline</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>