﻿<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-nav-tabs">
          <div class="card-header" data-background-color="purple">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Configuration items:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="active">
                    <a href="#discovered-ci" data-toggle="tab">
                      <i class="material-icons">alarm_add</i>
                      New discovered CI's
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="">
                    <a href="#ci-list" data-toggle="tab">
                      <i class="material-icons">list</i>
                      CI's list
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="">
                    <a href="#add-ci" data-toggle="tab">
                      <i class="material-icons">plus_one</i>
                      Add CI
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="">
                    <a href="#ci-history" data-toggle="tab">
                      <i class="material-icons">history</i>
                      CI's history
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="tab-content">
              <div class="tab-pane active" id="discovered-ci" style="overflow-x: auto">
                <kendo-grid
                  [kendoGridBinding]="discoveredCIList"
                  [pageSize]="20"
                  [sortable]="true"
                  [pageable]="true"
                  [scrollable]="'none'"
                  [filterable]="true"
                  (dataStateChange)="dataStateChange($event)">
                  <ng-template kendoGridToolbarTemplate>
                    <button class="btn btn-primary" (click)="bulkChangeCI()">Accept</button>
                  </ng-template>
                  <kendo-grid-column field="id" title="ID" [width]="200"></kendo-grid-column>
                  <kendo-grid-column field="_created" title="Discovery date" [width]="200" filter="date" format="{0:dd/MM/yyyy HH:mm:ss}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      {{dataItem._created | date:'dd/MM/yyyy HH:mm:ss'}}
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="customername" title="Customer" [width]="200"></kendo-grid-column>
                  <kendo-grid-column field="resourcegroupname" title="Resource group"></kendo-grid-column>
                  <kendo-grid-column field="name" title="Name"></kendo-grid-column>
                  <kendo-grid-column field="type" title="Type"></kendo-grid-column>
                  <kendo-grid-column title="Accept">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <input name="{{dataItem.id+'_cbAccept'}}" type="checkbox" [(ngModel)]="dataItem.accept" (change)="changeCIState($event, dataItem.id, true); dataItem.decline = false;"/>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column title="Decline">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <input type="checkbox" name="{{dataItem.id+'_cbDecline'}}" [(ngModel)]="dataItem.decline" (change)="changeCIState($event, dataItem.id, false); dataItem.accept = false;"/>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-command-column title="command" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <button class="btn btn-success" (click)="acceptCI(dataItem.id)">Accept</button>
                      <button class="btn btn-danger" (click)="declineCI(dataItem.id)">Decline</button>
                    </ng-template>
                  </kendo-grid-command-column>
                </kendo-grid>
              </div>

              <div class="tab-pane" id="ci-list" style="overflow-x: auto">
                <kendo-grid
                  [kendoGridBinding]="ciList"
                  [pageSize]="20"
                  [sortable]="true"
                  [pageable]="true"
                  [scrollable]="'none'"
                  [selectable]="true"
                  [filterable]="true"
                >
                  <kendo-grid-column field="id" title="ID" [width]="300"></kendo-grid-column>
                  <kendo-grid-column field="customername" title="Customer"></kendo-grid-column>
                  <kendo-grid-column field="resourcegroupname" title="Resource group"></kendo-grid-column>
                  <kendo-grid-column field="name" title="Name"></kendo-grid-column>
                  <kendo-grid-column field="type" title="Type"></kendo-grid-column>
                  <kendo-grid-column field="_lifecycle" title="Lifecycle"></kendo-grid-column>
                  <kendo-grid-command-column title="command" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <button [routerLink]="['/ci', dataItem.id]"
                              class="k-button k-default"
                              style="float: left;margin-right: 10px">
                        Details
                      </button>
                    </ng-template>
                  </kendo-grid-command-column>
                  <ng-template kendoGridDetailTemplate let-dataItem>
                    <section>
                      <p><strong>Subscription id:</strong> {{dataItem.subscriptionid}}</p>
                      <p><strong>Owner:</strong> not provided</p>
                      <p><strong>Status is Fresh Service:</strong> {{dataItem._syncfresh != null ? dataItem._syncfresh : 'unavailable'}}</p>
                    </section>
                  </ng-template>
                </kendo-grid>
              </div>

            <div class="tab-pane" id="add-ci">
              <configuration-items-new-cmp></configuration-items-new-cmp>
            </div>

              <div class="tab-pane" id="ci-history" style="overflow-x: auto">
                <kendo-grid [kendoGridBinding]="declinedCIList"
                            [pageSize]="20"
                            [sortable]="true"
                            [pageable]="true"
                            [scrollable]="'none'"
                            [selectable]="true"
                            [filterable]="true">
                  <kendo-grid-column field="id" title="ID" [width]="300"></kendo-grid-column>
                  <kendo-grid-column field="_created" title="Discovery date">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      {{dataItem._created | date:'dd/MM/yyyy HH:mm:ss'}}
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="_syncfreshdate" title="Discovery date">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      {{dataItem._syncfreshdate | date:'dd/MM/yyyy HH:mm:ss'}}
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="customername" title="Customer"></kendo-grid-column>
                  <kendo-grid-column field="resourcegroupname" title="Resource group"></kendo-grid-column>
                  <kendo-grid-column field="name" title="Name"></kendo-grid-column>
                  <kendo-grid-column field="type" title="Type"></kendo-grid-column>
                  <kendo-grid-column field="_syncfreshrejectedby" title="Declined by"></kendo-grid-column>
                  <ng-template kendoGridDetailTemplate let-dataItem [kendoGridDetailTemplateShowIf]="showDeclineReason">
                    <p><strong>Decline reason:</strong> {{dataItem._syncfreshreason}}</p>
                  </ng-template>
                </kendo-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

