﻿<div class="row">
  <div class="col-lg-12">
    <h5 class="text-center">Add CI</h5>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label><strong>Mandatory information</strong></label>
          <div class="form-group form-black label-floating is-empty">
            <label class="control-label"> Customer</label>
            <kendo-combobox [data]="customers" valueField="id" textField ="name" [placeholder]="'Select customer...'" [(ngModel)]="newCI.customer" name="customer" [filterable]="true">
            </kendo-combobox>
          </div>
        </div>
        <div class="form-group form-black label-floating is-empty">
          <label class="control-label">CI Type</label>
          <kendo-combobox [data]="types" [placeholder]="'Select type...'" [(ngModel)]="newCI.type" name="type"  [valuePrimitive]="true" [filterable]="true" style="width: 400px">
          </kendo-combobox>
        </div>
        <div class="form-group form-black">
          <label class="control-label">Type name</label>
          <input type="text" class="form-control" [(ngModel)]="newCI.type" name="type">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label><strong>Optional information</strong></label>
          <div *ngFor="let prop of customProperties; let i = index" [attr.data-index]="i">
            <div class="form-group form-black label-floating is-empty">
              <label class="control-label"> Property name</label>
              <input type="text" class="form-control"[(ngModel)]="prop.name">
            </div>

            <div class="form-group form-black label-floating is-empty">
              <label class="control-label"> Property value</label>
              <input type="text" class="form-control"[(ngModel)]="prop.value">
            </div>
            <button class="btn btn-danger" (click)="removeProperty(i)">Remove</button>
          </div>

          <div class="form-group">
            <button class="btn btn-success" (click)="addProperty()">Add</button>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-danger pull-right" (click)="saveCI()">Submit</button>
    <div class="clearfix"></div>
  </div>
</div>

<kendo-dialog title="Info" *ngIf="opened" (close)="onClose()">
  <p style="margin: 30px; text-align: center;">{{dialogText}}</p>
  <kendo-dialog-actions>
    <button class="btn btn-primary" (click)="onClose()" style="margin-left: 190px" title="Ok">Ok</button>
  </kendo-dialog-actions>
</kendo-dialog>

<div class="row">
  <div class="col-lg-12 text-center">
    <h5>Import CI from CSV file</h5>
    <hr/>
    <kendo-upload [saveUrl]="uploadSaveUrl"></kendo-upload>
  </div>
</div>